@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.container-hero {
    background-color: var(--background-color);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i {
    font-size: 3.3rem;
}

.content-customer-support {
    display: flex;
    flex-direction: column;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-logo i {
    font-size: 3em;
}

.container-logo h1 a {
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-nav {
	background-color: var(--primary-color) ;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	position: absolute;
	bottom: -3px;
	left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
}

.menu a:hover {
	color: #fff;
}

.banner {
	background:linear-gradient(100deg, #000000,#00000020), url(imagenes/ELMEJORCAFE.jpg) no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: center;
    margin: 20px 0;
}

.container-banner {
    max-width: 90rem;
    margin:auto;
    padding: 25rem 0;
}
.container-banner p{
    color:var(--primary-color);
    font-size: 1.2rem ;
    margin-bottom: 1rem;
    font-weight: 500;

}


.banner-buttons a{
    text-orientation: none;
    color: var(--dark-color);
    font-size: 3rem;

}

footer {
    background: #2c1e16;
    color: #fff;
    padding: 30px 20px 15px;
    margin-top: 40px;
}

.cfooter {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}